Thumbs.db
Desktop.ini
.DS_Store
*.swp

/Library
/Logs
/Recordings
/Temp
/UIElementsSchema
/UserSettings

/Assets/SceneDependencyCache
/Assets/SceneDependencyCache.meta

/.utmp
/mono_crash.*.json
/Xcode

/*.app
/*.exe
/*.apk
/*_DoNotShip
